In [1]:
import pandas as pd

india_weather = pd.DataFrame({
    "city": ["mumbai","delhi","banglore"],
    "temperature": [32,45,30],
    "humidity": [80, 60, 78]
})
india_weather

       city  temperature  humidity
0    mumbai           32        80
1     delhi           45        60
2  banglore           30        78

In [2]:
Bangladesh_weather=pd.DataFrame({
    "city":["Dhaka","Chittagong","Barishal"],
    "Temperature":[34,35,36],
    "Humidity":[50,56,78]
})

In [3]:
Bangladesh_weather

         city  Temperature  Humidity
0       Dhaka           34        50
1  Chittagong           35        56
2    Barishal           36        78

In [4]:
us_weather = pd.DataFrame({
    "city": ["new york","chicago","orlando"],
    "temperature": [21,14,35],
    "humidity": [68, 65, 75]
})
us_weather

       city  temperature  humidity
0  new york           21        68
1   chicago           14        65
2   orlando           35        75

In [5]:
df=pd.concat([Bangladesh_weather,us_weather],ignore_index=True)
df

         city  Temperature  Humidity  temperature  humidity
0       Dhaka         34.0      50.0          NaN       NaN
1  Chittagong         35.0      56.0          NaN       NaN
2    Barishal         36.0      78.0          NaN       NaN
3    new york          NaN       NaN         21.0      68.0
4     chicago          NaN       NaN         14.0      65.0
5     orlando          NaN       NaN         35.0      75.0

In [6]:
#df=pd.concat([Bangladesh_weather,india_weather],keys=["Bangladesh","usa"])
df=pd.concat([india_weather,Bangladesh_weather],keys=["india","Bnagladesh"])
df

                    city  temperature  humidity  Temperature  Humidity
india      0      mumbai         32.0      80.0          NaN       NaN
           1       delhi         45.0      60.0          NaN       NaN
           2    banglore         30.0      78.0          NaN       NaN
Bnagladesh 0       Dhaka          NaN       NaN         34.0      50.0
           1  Chittagong          NaN       NaN         35.0      56.0
           2    Barishal          NaN       NaN         36.0      78.0

In [7]:
df.loc["usa"]

KeyError: 'usa'

In [ ]:
temp=pd.DataFrame({
    "city":["Dhaka","Chittagong","Barishal"],
    "Temperature":[34,35,36]
})
temp

In [ ]:
weather = pd.DataFrame({
    "city": ["new york","chicago","orlando"],
    "temperature": [21,14,35]
})
weather

In [ ]:
df=pd.concat([temp,weather],axis=1)
df

In [ ]:
#s=pd.series(["hamid","rainy","dry"],name="event")
#s
s = pd.Series(["Humid","Dry","Rain"], name="event")
s

In [ ]:
df=pd.concat([temp,s],axis=1)
df